.infobox__add-button {
  position: relative;
  font-weight: 800;
  top: 90%;

  opacity: 0.5;
  color: rgb(255, 255, 255);
}

@media (min-width: 1020px) {
  .infobox__add-button {
    font-size: 27px;
  }
}
.infobox__add-button:hover {
  opacity: 1;
}
