.infobox__scrollbar {
  display: none;
}
@media (min-width: 1020px) {
  .infobox__scrollbar {
    display: inline;

    width: 896px;
    height: 15px;
    margin: 120px 90px 20px;

    opacity: 0.478;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-size: auto auto;

    grid-column: 1/4;
    grid-row: 3;
  }
}
