@import url('./reset.css');
@import url('./fonts/fonts.css');
@import url('./banner/banner.css');
@import url('./header/header.css');
@import url('./adertisement/advertisement.css');
@import url('./infobox/infobox.css');
@import url('./devices/devices.css');
@import url('./footer/footer.css');
@import url('./logo/logo.css');
@import url('./menu/menu.css');
@import url('./container/container.css');
@import url('./common_elements/player.css');
@import url('./common_elements/play-button--rounded.css');
@import url('./common_elements/scrollbar.css');

html {
  box-sizing: border-box;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;

  width: 100%;
  margin: 0;

  color: black;
}

@media (min-width: 800px) {
  body {
    overflow-x: hidden;

    width: 100%;
  }
}
