.intro__text {
  display: none;
}
@media (min-width: 1020px) {
  .intro__text {
    font-family: 'Asap';
    font-size: 63px;
    line-height: 1.2;

    display: inline;
    align-self: center;

    text-align: center;
    text-transform: uppercase;
  }
}
