.banner {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: max-content;

  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner .container {
  display: block;

  min-height: 100%;
}

@media (min-width: 1020px) {
  .banner .container {
    width: 1020px;
  }
}
.banner__inner {
  display: flex;

  width: 100%;
  height: max-content;

  transition: 1s;
}
@media (min-width: 1020px) {
  .banner__inner {
    align-content: center;
    justify-content: space-between;

    margin: 40px 0;
  }
}
