
header {
    display: block;

    width: 100%;
    max-height: min-content;

    background-image: url('/assets/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 660px) {
    .header {
        display: flexbox;
        justify-content: center;

        max-width: 100%;
        padding-bottom: 30px;

        background-image: url('/assets/images/header.jpg');
        background-size: 100% 100%;
    }
}

.header__inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    max-width: 100%;
}
@media (min-width:660px) {
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 660px){
    .header .cotainer {
        display:flex;
    }
}
/*       Menu       */
.menu {
    display: flex;
    justify-content: space-around;

    width: 460px;
    height: 65px;
    margin: 0px;
    padding: 0px;

    background-color: #eec006;
}
@media (min-width: 660px) {
    .menu {
        display:inline-flex;
        width: fit-content;
        height: 41px;
        margin: 0 auto;
        padding: 0px;

        box-shadow: -3px -3px 0 1px rgb(245, 197, 6, .3),-6px -6px 0 2px rgb(245, 197, 6, .3);
    }
}
.menu__item {
    font-family: 'SegoeWP';
    font-size: 19px;
    font-weight: normal;
    height: inherit;
    padding-top: 15px;
  

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(155, 125, 8);
    border-right: 1px solid rgba(87, 82, 82, .247);

    padding-inline: 10px;
}
@media (min-width:660px) {
    .menu__item {
        font-size: 17px;
        padding: 15px;
        display: flex;
        align-items: center;

        width: max-content;

        padding-inline-end: 20px ;
    }
}

.menu__item:hover {
    transition: color .2s linear;
    text-decoration: none;

    background-color: #fb940e ;
}
.about_us::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/aboutus.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
@media (min-width: 660px) {
    .about_us::before {
        margin-left: 15px;
    }
}
.services::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/services.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.contact::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/contact.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

/*      Intro       */
.intro {
    display: block;
}
@media (min-width: 660px) {
    .intro {
        display: inline-flex;
        align-content: center;
        justify-content: center;

        margin-top: 20px;
        margin-left: 10px;
    }
}
.intro__image {
    display: block;

    width: 640px;
    height: 327px;

    background: url('/assets/images/intro_02.png') top
    no-repeat;
    background-size: 100% 100%;
}

@media (min-width:660px) {
    .intro__image {
        width: 549px;
        height: 327px;
    }
}
.intro__text span {
    display: none;
}
@media (min-width:660px) {
    .intro__text span {
        font-family: 'Asap';
        font-size: 63px;
        line-height: 1.2;

        display: inline;
        display: inline-block;
        visibility: visible;

        width: 500px;
        padding-top: 100px;

        text-align: center;
        text-transform: uppercase;
    }
}
.player{
    display:none;

}
.player__button{
    display: none;
}

.player__line{
    display: none;
    
}

.firstLine {
    color: rgb(245, 197, 6);
}
.secondLine {
    color: white;
}

.left_button{
   display: none;
 
}

.right_button{
    display:none;
}
.intro .round_button{
    display:none;
}
@media (min-width:660px){
    .player{
        display:inherit;
        position: relative;
        top:240px;
        left:70px;
        width: 403px;
        height: 13px;
        border-radius:7px ;
        background-color: rgb(155, 125, 8, .7);
    }
    .player__button{
        display: inherit;
        width:30px;
        height:30px;
        position: relative;
        top:-25px;
        left: -40px;
        background-color: rgba(245, 197, 7, 0.5);
    }
    .player__button::before{
        content: "";
        width:10px;
        height: 10px;
        padding:10px;
        position: relative;
        top:15px;
        left:10px;
        background-size: 10px 20px;
        background-image: url("/assets/images/play.png");
        background-repeat: no-repeat;
    }
    .player__button:hover{
        background-color: rgba(245, 197, 7);
        opacity: 1;
    }
    .player__line{
        display: inherit;
        width: 150px;
        height: 13px;
        border-bottom-left-radius :7px;
        border-top-left-radius: 7px;
        background-color: rgb(255, 201, 24);
        opacity: 1;
    }
    .player__line::after{
        content: "";
        width: 10px;
        height: 10px;
        padding: 10px;
        background-image: url("/assets/images/sound.png");
        background-size: auto auto;
        background-repeat: no-repeat;
        position:relative;
        left:425px;
        top:8px;
    }
    
    .left_button{
       display: inline;
       width:32px;
       height: 57px; 
       background-color: rgb(155, 125, 8, .9);
       background-size: auto auto;
       position: absolute;
       top:300px;
       left:1px;
    }
    .left_button::before{
        content:"";
        width:fit-content;
        height: fit-content;
        background-image: url("/assets/images/left.png");
        background-size: auto auto;
        padding: 10px;
        background-repeat: no-repeat;
        position: relative;
        top:50%;
        left:25%;
    
    }
    .left_button:hover{
        background-color: rgba(245, 197, 7);
        opacity: 1;
    }
    .right_button{
        display:inline;
        width:32px;
        height: 57px; 
        background-color: rgb(155, 125, 8, .9);
        background-size: auto auto;
        position: absolute;
        top:300px;
        left:1268px;
    }
    .right_button::before{
        content:"";
        width:fit-content;
        height: fit-content;
        background-image: url("/assets/images/right.png");
        background-size: auto auto;
        padding: 10px;
        background-repeat: no-repeat;
        position: relative;
        top:50%;
        left:35%;
    
    }
    .right_button:hover{
        background-color: rgba(245, 197, 7);
        opacity: 1;
    }
    .intro .round_button{
        display:inherit;
    }
}
