@import url('./reset.css');
@import url('./fonts.css');
@import url('./section1.css');
@import url('./header.css');
@import url('./intro.css');
@import url('./midbar.css');
@import url('./infobox.css');
@import url('./devices-section.css');
@import url('./footer.css');
@import url('./logo.css');

html {
  box-sizing: border-box;
  width: 100vw;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 20px;

  overflow-x: hidden;

  width: 100%;
  margin: 0;

  color: black;
}
@media (min-width: 800px) {
  body {
    overflow-x: hidden;

    width: 100%;
  }
  .wrapper {
    position: relative;

    display: grid;

    max-width: 100%;
  }
}

.container {
  width: 100%;
  max-height: min-content;

  transition: 1s;
}

@media (min-width: 700px) {
  .container {
    position: relative;

    width: 100%;
    height: fit-content;
  }
}
@media (min-width: 1020px) {
  .container {
    position: relative;

    width: max-content;
    height: fit-content;
  }
}

.round_button {
  position: relative;
  top: 44%;
  left: 44%;

  width: 3em;
  height: 3em;

  border-radius: 50%;
  background-color: rgba(245, 197, 7, 0.8);
}
.round_button::before {
  position: relative;
  top: 40%;
  left: 39%;

  width: 30px;
  height: 30px;
  padding: 10px;

  content: '';

  opacity: 1;
  background-image: url('../images/play.png');
  background-repeat: no-repeat;
  background-size: auto auto;
}
.round_button:hover {
  opacity: 1;
  background-color: rgba(245, 197, 7);
}
