
/*      Midbar      */
.midbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 30px;
    padding-bottom: 20px;

    background-color: white;
    background-image: url('/assets/images/bckg_midbar.png');
    background-size: 100% 100%;
    box-shadow: 0 -3px 0 4px rgba(255, 255, 255, .5),0 -3px 0 9px rgba(255, 255, 255, .4),
    inset 0 -3px 0 4px rgba(255, 255, 255, .5), 0 -3px 0 9px rgba(255, 255, 255, .4);
}
@media (min-width: 660px) {
    .midbar {
        position: relative;
        display:block;
        box-shadow: -3px 0 6px 3px rgba(19, 3, 3, .4);
    }
}
.midbar__item {
    display: inline;
    transition:1s;
}
@media (min-width:660px) {
    .midbar__item {
        display: inline-block;
        margin-inline: 105px;
    }
}
.midbar__item:hover{
    transform: scale(1.3);
}
.midbar__icon {
    display: flex;
    justify-content: center;

    padding: 10px;
}
.midbar__text {
    font-family: 'Segoe UI';
    font-size: 23px;
    font-weight: 100;

    display: inline-block;

    text-align: center;
    text-transform: uppercase;

    color: rgb(14, 13, 13);
}
.midbar .container {
    display: flex;
    justify-content: space-around;

    width: 640px;
}
@media (min-width: 660px) {
    .midbar .container {
        display: inline-flex;
        width: 1020px;
        height: fit-content;
    }
}