.section1{
    display: flex;

    width: 100%;
    height: max-content;
    justify-content: center;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media (min-width: 700px) {
    .section1 {
        display: flex;
        width:100%;
        max-width: 100%;

        background-image: url('../images/header.jpg');
        background-size: 100% 100%;


        justify-items: center;
    }
}
.section1 .container {
    position: relative;
    width:100%;
    min-height: 100%;
    display: block;
}

@media (min-width: 1020px) {
    .section1 .container {
        position: relative;
        display: block;

        width: fit-content;
    }
}
.section1__inner{
    display: flex;
    width: 100%;
    height: max-content;
    transition: 1s;
}
@media (min-width:700px) {
    .section1__inner{
        display: flex;
        width: 100%;
    }
    
}
@media (min-width:1020px) {
    .section1__inner {
        display: flex;
        justify-content: space-between;
        width:100%;
        margin-block: 30px;
        height: max-content;
        align-content: center;
    }
}