@font-face {
    font-family: 'SegoeWP';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ofont.ru_Segoe WP.eot');
    src: local('☺'), url('../fonts/ofont.ru_Segoe WP.woff') format('woff'), url('fonts/ofont.ru_Segoe WP.ttf') format('truetype'), url('fonts/ofont.ru_Segoe WP.svg') format('svg');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
}
@font-face {
    font-family: 'LaoUI';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/LaoUI.eot');
    src: local('☺'), url('../fonts/LaoUI.woff') format('woff'), url('../fonts/LaoUI.ttf') format('truetype'), url('../fonts/LaoUI.svg') format('svg');
}

html {
    box-sizing: border-box;
}
*
,
*::before
,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 20px;

    margin: 0;

    color: black;
}

/*      Wrapper     */
.wrapper {
    display: inline-flexbox;
}
/*      Header       */
header {
    display: inherit;

    max-width: 100%;
    height: 400px;

    background: url('../images/header.jpg') top
    no-repeat ;
    background-size: cover;
}
@media (max-width: 640px) {
    .header {
        display: inline-block;

        width: 1300px;
        height: 570px;
    }
}
.header__inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    max-width: 100%;
    height: inherit;
    max-height: 62px;
}
@media (min-width:650px) {
    .header__inner {
        display: flex;
        justify-content: space-between;

        padding-top: 75px;
    }
}

/*       Menu       */
.menu {
    font-size: 0;

    display: inline-flex;
    justify-content: space-around;

    height: 62px;

    background-color: #eec006;
}
@media (min-width: 640px) {
    .menu {
        display: inline-flex;

        height: 41px;
    }
}
.menu__item {
    font-family: 'SegoeWP';
    font-size: 19px;
    font-weight: normal;

    display: flex;

    height: inherit;
    padding: 15px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(155, 125, 8);
    border-right: 1px solid rgba(87, 82, 82, .247);
}
@media (min-width:640px) {
    .menu__item {
        font-size: 17px;

        display: flex;

        padding-inline: 20px;
    }
}


.menu__item:hover {
    transition: color .2s linear;
    text-decoration: none;

    background-color: #fb940e ;
}
.about_us::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/aboutus.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.services::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/services.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.contact::before {
    display: inline-flex;

    width: 25px;
    height: 25px;
    margin-right: 10px;

    content: '';

    background-image: url('../images/contact.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
/*      Container       */
.container {
    display: inherit;

    box-sizing: padding-box;
    min-width: 640px;
}

@media (min-width: 640px) {
    .container {
        justify-content: center;

        max-width: 1020px;
    }
}
/*      Intro       */
.intro {
    display: inline-block;
}

.intro__inner {
    display: block;

    max-width: 100%;
    height: 100vh;

    background: url('../images/intro.jpg') top
    no-repeat;
}
@media (min-width:650px) {
    .intro__inner {
        display: block;

        width: 550px;
        height: 330px;
        margin-left: 30px;
    }
}

/*      Logo      */
.logo {
    font-family: 'Lucida Sans';
    font-size: 19px;
    font-weight: 100;
    font-style: italic;

    display: inline;

    text-align: center;
    text-transform: uppercase;

    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .42);

    padding-block: 8px;
    padding-inline: 15px;
}
@media (max-width: 670px) {
    .logo {
        background-color: rgb(56, 53, 53);
        background-image:    -moz-linear-gradient( 90deg, rgb(46, 45, 45) 0%, rgb(91,91,91) 100%);
        background-image: -webkit-linear-gradient( 90deg,  rgb(46, 45, 45) 0%, rgb(91,91,91) 100%);
        background-image:     -ms-linear-gradient( 90deg,  rgb(46, 45, 45) 0%, rgb(91,91,91) 100%);
    }
}
@media (min-width:650px) {
    .logo {
        font-size: 41px;

        display: inline;
    }

    .logo::after {
        font-family: 'LaoUI';
        font-size: 13px;
        font-weight: 50;
        font-style: normal;
        line-height: 1.2;

        content: 'craft by css author.com';
        text-align: center;
        text-transform: uppercase;

        color: rgba(255, 255, 255, .769);
        text-shadow: none;
    }
}

.logo::before {
    display: inline-flex;

    width: 45px;
    height: 45px;
    padding-right: 50px;

    content: '';

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: 45px 45px;

    padding-block: 15px;
}
@media (min-width:650px) {
    .logo::before {
        display: inline-flex;

        width: 100px;
        height: 100px;

        content: '';

        background-size: 100px 100px;

        padding-block: 30px;
    }
}
/*      Slider      */
.midbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 30px;

    background-color: white;
}
.midbar__inner {
    font-family: 'Segoe UI';
    font-size: 23pt;
    font-weight: 100;

    width: 33%;
    padding-top: 100px;

    text-transform: uppercase;

    color: rgb(14, 13, 13);
}
/*      Footer      */
footer {
    text-align: center;
}
