.devices-section__device--large {
  width: auto;
  height: 255px;
  margin-bottom: 40px;

  background-image: url('../../../../static/images/computer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  grid-column: 1;
}
.devices-section__device--middle {
  width: auto;
  height: 215px;

  background-image: url('../../../../static/images/laptop.png');
  background-repeat: no-repeat;
  background-size: auto;

  grid-column: 2;
}
.devices-section__device--small {
  align-self: flex-end;

  width: auto;
  height: 70px;
  margin-bottom: 80px;

  background-image: url('../../../../static/images/phone.png');
  background-repeat: no-repeat;
  background-size: auto;

  grid-column: 3;
}
