@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
  font-family: 'SegoeWP';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/ofont.ru_Segoe WP.eot');
  src: local('☺'), url('../../fonts/ofont.ru_Segoe WP.woff') format('woff'),
    url('fonts/ofont.ru_Segoe WP.ttf') format('truetype'),
    url('fonts/ofont.ru_Segoe WP.svg') format('svg');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../../fonts/MyriadPro-Regular.woff') format('woff'),
    url('fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('fonts/MyriadPro-Regular.svg') format('svg');
}
@font-face {
  font-family: 'LaoUI';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/LaoUI.eot');
  src: local('☺'), url('../../fonts/LaoUI.woff') format('woff'),
    url('../../fonts/LaoUI.ttf') format('truetype'),
    url('../../fonts/LaoUI.svg') format('svg');
}
@font-face {
  font-family: 'Conv_segoeuil';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/segoeuil.eot');
  src: local('☺'), url('../../fonts/segoeuil.woff') format('woff'),
    url('../../fonts/segoeuil.ttf') format('truetype'),
    url('../../fonts/segoeuil.svg') format('svg');
}
@font-face {
  font-family: 'Asap';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/Asapregular.eot');
  src: local('☺'), url('../../fonts/Asapregular.woff') format('woff'),
    url('../../fonts/Asapregular.ttf') format('truetype'),
    url('../../fonts/Asapregular.svg') format('svg');
}
@font-face {
  font-family: 'SegoeWP Light';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/ofont.ru_Segoe WP Light.eot');
  src: local('☺'),
    url('../../fonts/ofont.ru_Segoe WP Light.woff') format('woff'),
    url('../../fonts/ofont.ru_Segoe WP Light.ttf') format('truetype'),
    url('../../fonts/ofont.ru_Segoe WP Light.svg') format('svg');
}
@font-face {
  font-family: 'SegoeWP Light';
  font-weight: normal;
  font-style: normal;

  src: url('fonts/Segoe WP Light.eot');
  src: local('☺'), url('../../fonts/Segoe WP Light.woff') format('woff'),
    url('../../fonts/Segoe WP Light.ttf') format('truetype'),
    url('../../fonts/Segoe WP Light.svg') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?9s3ozl');
  src: url('../../fonts/icomoon.eot?9s3ozl#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?9s3ozl') format('truetype'),
    url('../../fonts/icomoon.woff?9s3ozl') format('woff'),
    url('../../fonts/icomoon.svg?9s3ozl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
