.infobox__player {
  display: flex;

  min-height: 100%;
  padding: 10px 10px 10px 0;

  grid-column: 2;
  grid-row: 1;
}
@media (min-width: 1020px) {
  .infobox__player {
    min-width: 100%;
    min-height: fit-content;
    padding: 0 0;

    grid-column: 2;
    grid-row: 2;
  }
}
.infobox__player-picture {
  width: 100%;
  margin-right: 10px;
}
@media (min-width: 1020px) {
  .infobox__player-picture {
    margin-right: 20px;
  }
}
