@import url('./_items/advertisement-section__items.css');
.advertisement-section {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: white;
  background-image: url('../../../static/images/bckg_midbar.png');
  background-size: 100% 100%;
  box-shadow: 0 -3px 0 4px rgba(255, 255, 255, 0.5),
    0 -3px 0 9px rgba(255, 255, 255, 0.4),
    inset 0 -3px 0 4px rgba(255, 255, 255, 0.5),
    inset 0 -3px 0 9px rgba(255, 255, 255, 0.4);
}
@media (min-width: 1020px) {
  .advertisement-section {
    box-shadow: -3px 0 6px 3px rgba(19, 3, 3, 0.4);
  }
}
.advertisement-section__container {
  position: relative;

  display: flex;
  justify-content: space-around;

  width: 100%;
  height: fit-content;
}
@media (min-width: 1020px) {
  .advertisement-section__container {
    width: 1020px;
  }
}
