@import url('./item/menu__item.css');
.menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 61px;

  transition: 1s;

  background-color: #eec006;
}

@media (min-width: 700px) {
  .menu {
    display: flex;

    width: max-content;
    margin-top: 40px;
  }
}
@media (min-width: 1020px) {
  .menu {
    display: flex;
    align-self: center;

    width: fit-content;
    height: 41px;

    box-shadow: -3px -3px 0 1px rgb(245, 197, 6, 0.3),
      -6px -6px 0 2px rgb(245, 197, 6, 0.3);
  }
}
