.devices-section__list {
  display: none;
}
@media (min-width: 1020px) {
  .devices-section__list {
    display: block;
    align-self: start;

    list-style-image: url('../../../images/list.png');

    text-align: left;

    grid-column: 2;
    grid-row: 2;
  }
  .devices-section__list-item {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;

    margin-bottom: 20px;

    color: rgb(169, 169, 167);
  }
}
