.play-button--rounded {
  position: absolute;
  top: 25%;
  left: 67%;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: rgba(245, 197, 7, 0.8);
}

@media (min-width: 1020px) {
  .play-button--rounded {
    position: absolute;
    top: 45%;
    left: 50%;
  }
}
.play-button--rounded::before {
  position: relative;
  top: 30%;
  left: 39%;

  width: 30px;
  height: 20px;
  padding: 10px;

  content: '';

  opacity: 1;
  background-image: url('../../images/play.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.play-button--rounded:hover {
  opacity: 1;
  background-color: rgba(245, 197, 7);
}
